[submodule "External/xmlf90"]
	path = External/xmlf90
	url = https://gitlab.com/siesta-project/libraries/xmlf90.git
	branch = cmake
[submodule "External/libpsml"]
	path = External/libpsml
	url = https://gitlab.com/siesta-project/libraries/libpsml.git
	branch = cmake
[submodule "External/libgridxc"]
	path = External/libgridxc
	url = https://gitlab.com/siesta-project/libraries/libgridxc.git
	branch = cmake-master
[submodule "External/Lua-Engine/flook"]
	path = External/Lua-Engine/flook
	url = https://github.com/ElectronicStructureLibrary/flook.git
[submodule "External/BigDFT/psolver"]
	path = External/BigDFT/psolver
	url = https://gitlab.com/l_sim/psolver.git
[submodule "External/BigDFT/futile"]
	path = External/BigDFT/futile
	url = https://gitlab.com/l_sim/futile.git
[submodule "External/BigDFT/atlab"]
	path = External/BigDFT/atlab
	url = https://gitlab.com/l_sim/atlab.git
[submodule "External/BigDFT/yaml"]
	path = External/BigDFT/yaml
	url = https://github.com/yaml/libyaml.git
