[submodule "ExtLibs/dbcsr"]
	path = ExtLibs/dbcsr
	url = https://github.com/cp2k/dbcsr.git
[submodule "ExtLibs/omm-bundle"]
	path = ExtLibs/omm-bundle
	url = git@gitlab.com:irina_lebedeva/omm-bundle.git
	branch = omm_sparse
[submodule "ExtLibs/bigdft-suite"]
	path = ExtLibs/bigdft-suite
	url = https://gitlab.com/l_sim/bigdft-suite.git
	branch = devel
[submodule "ExtLibs/BigDFT/psolver"]
	path = ExtLibs/BigDFT/psolver
	url = https://gitlab.com/l_sim/psolver.git
[submodule "ExtLibs/BigDFT/futile"]
	path = ExtLibs/BigDFT/futile
	url = https://gitlab.com/l_sim/futile.git
[submodule "ExtLibs/BigDFT/atlab"]
	path = ExtLibs/BigDFT/atlab
	url = https://gitlab.com/l_sim/atlab.git
