.*.swp
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.h.in*
config.h
config.log
config.status
configure
libfdf-*.tar.bz2
libfdf-*.tar.gz
libfdf-*.tar.xz
libtool
stamp-h1
tmp
tmp-*
*.tmp
*~
/config/data/libfdf-config.yml
/config/data/libfdf.pc
/config/gnu
/config/gnu/compile
/config/gnu/config.guess
/config/gnu/config.sub
/config/gnu/depcomp
/config/gnu/install-sh
/config/gnu/ltmain.sh
/config/gnu/missing
/config/m4/libtool.m4
/config/m4/ltoptions.m4
/config/m4/ltsugar.m4
/config/m4/ltversion.m4
/config/m4/lt~obsolete.m4
/config/wrappers
/src/.deps
/src/.libs
/src/*.a
/src/*.c~
/src/*.h~
/src/*.o
/src/*.lo
/src/*.la
/src/*.so
/src/*.so.*
